

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0396FF;

}
.container{
    height: 400px;
    min-width: 400px;

    display: flex;
    align-items: flex-end;

 


}
.icon-image{
    position: relative;
    height: 70px;
    width: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);


}
.icon-image img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0396FF;

}

.hover-image{
    height: 350px;
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            border-radius: 25px;
    z-index: 0;  
    transition: transform 0.5s , z-index 0s , left 0.5s;      
     transition-delay: 0s ,0.5s,0.5s;
     pointer-events: none;



}
.icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform: translate(80px );
    transition: left 0.5 , z-index 0s , transform 0.5s;
    transition-delay: 0s ,0.5s,0.5s;


}
.hover-image img{
    border-radius: 25px;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    object-fit: cover;

}
.content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    padding: 0 10px;

}
.content.befor{
        content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;


}
.content .details{
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid black;
    opacity: 0;
    transform: translateY(10px);



}
.icon-image:hover  .details{
    transition: all 0.5s ease;
    transition-delay: 0.9s;
    opacity: 1;
    transform: translateY(4px);
        transform: translateY(4px);


}
.content .details::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;

}
.details .name{
    font-size: 20px;
    font-weight: 500;

}

.details .job{
    font-size: 17px;
    color: #0396FF;
    margin: -3px 0 5px 0;
}

.last .hover-image{
    transition: none;

}
.last:hover .hover-image{
    transition: none;
    
}
.last:hover .details{
       transition-delay: 0.9s;
    
}