@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    background: #1abc91;
    overflow: hidden;
}
.container{
    max-width: 430px;
    width: 100%;
    padding: 0 20px;
    margin: 80px auto;
}

.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);



}

.wrapper .title{

    line-height: 80px;
    background: #16a085;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}
.wrapper form{
    padding: 30px 20px 25px 20px;
}
.wrapper form .row{
    height: 45px;
  
    margin-bottom: 15px;
    position: relative;


}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;

    
}
form .row input:focus{
    outline: none;
    border-color: #16a085;
    box-shadow: 0 0 5px rgba(22, 160, 133,0.5);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    background: #16a085;
    border: 1px solid #16a085;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 19px;
    align-items: center;
    border-radius: 5px 0 0 5px;





}
.wrapper form .button input{
    padding-left: 0px;
     background: #16a085;
    border: 1px solid #16a085;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;



}
.wrapper form .button input:hover{
    background: #138d75;
    border: 1px solid #138d75;
}
.wrapper form .button .pass a{
    
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    color: #16a085
   
    
}
.wrapper form .button .pass a:hover{
    text-decoration: underline;
}
.wrapper form  .signup-link{
    text-align: center;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
    color:black;
    font-weight: 400;


}
.wrapper form  .signup-link a{
    text-decoration: none;
    color: #16a085;
    left: 7px;
}
.wrapper form  .signup-link a:hover{
    text-decoration: underline;
}