@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fae9fb;
}
.container{
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);


    
}
.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
