@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dad3f8;
}
.container{
    background: #fff;
    padding: 40px 50px 40px 40px;
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0,0,0 ,0.2);

}
.container .main-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.container .content .list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin-right: 50px;
}
.content .list label{
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;


    line-height: 60px;
 
    padding-left: 25px;
    color: #333;
    z-index: 12;
    transition: all 0.3 ease;
}
.content .list label:hover{
    color: #6d50e2;

}
#home:checked ~ .list .home,
#blog:checked ~ .list .blog,
#help:checked ~ .list .help,
#code:checked ~ .list .code,
#About:checked ~ .list .About{
    color: #fff;
}
.content .indicator{
    position: absolute;
    height: 60px;
    width: 100%;
    left: 0;
    background: #6d50e2;
    border-radius: 12px;
    top: 0;
    transition: all 0.3s ease;


}
#home:checked ~.list.indicator{
    top: 0;
    
}
#blog:checked ~.list .indicator{
    top: 60px

}
#help:checked ~.list .indicator{
    top: 120px

}
#code:checked ~.list .indicator{
    top: 180px

}
#About:checked ~.list .indicator{
    top: 240px

}
.container input[type="radio"]{
    display: none;


}

.container .content .text-content{
    width: 80%;
    height: 100%;


}
.container .content .text-content .tile{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;


}
.container .content .text-content p{
    text-align: justify;

    

}
