@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container{
    width: 80%;
    background: #fff;
    padding: 20px 60px 40px 40px ;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container .content .left-side{
    width: 25%;
    height: 100%;
    position: relative;


}
.container .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width:2px;
    background: #afafb6;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);

}
.container .content .right-side{
    width: 75%;
    margin-left: 75PX;

}
.content .left-side .details{
    margin: 14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;


}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;

}
.content .left-side .details .text-one, .text-two{
    font-size: 14px;
    color: #afafb6;

}
.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;

}
.content .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;

}
.content .right-side  .input-box input,
.content .right-side  .input-box textarea{
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: #f0f1f8;
    border-radius: 6PX;
    padding: 0 15px;
    resize: none;


 

}
.content .right-side  .message-box{
    min-height: 110px;
    margin-top: 6px;
}
.right-side  .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background: #3e2093;
    outline: none;
    transition: all 0.3s ease;


}
.button input[type="button"]:hover{
    background: #5029c6;
    cursor: pointer;

}
.right-side  .button {
    display: inline-block;
    margin-top: 12px;

}
@media (max-width: 950px){
    .container{
        width: 90%;
        padding: 30px 40px 40px 40px ;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side,
    .container .content .right-side{
        width: 100%;
        margin: 0;
    }
    .container .content .left-side::before{
        display: none;
    }
    .content .right-side .topic-text{
        text-align: center;
    }
}