@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Background Section */
.main-box {
    background: url('images/4.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Sidebar */
.main-box .sidebar-menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -2;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/* Logo */
.sidebar-menu .logo {
    position: absolute;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar-menu .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
}

/* Menu */
.sidebar-menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar-menu .menu ul {
    list-style: none;
}

.sidebar-menu .menu li {
    padding: 14px 20px;
    margin-top: 7px;
    transition: all 0.3s ease;
}

.sidebar-menu .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}

.sidebar-menu .menu  i{
    
    
}


.sidebar-menu .menu li:hover {

    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar-menu .social_media{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;


}
.social_media a{
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
}
   
.social_media a:hover{
    opacity: 1;
    transition: all 0.3s ease;
}
#check{
    display: none;

}
.main-box .btn_one label{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease;
   
}
.sidebar-menu .btn_two label{
    color: #fff;
   font-size: 25px;
   line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease;    
   
}
.btn_one label:hover {
    font-size: 29px;

}
.btn_two:hover{
    font-size: 29px;
    
}
