@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #ff676d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 400px;
    width: 100%;
}

/* Default: collapsed */
.serch-box {
    position: relative;
    height: 50px;
    max-width: 50px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Expand when checkbox is ON */
#check:checked ~ .serch-box {
    max-width: 380px;
}

/* Input box */
.serch-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
}

/* Search icon */
.serch-box .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: #ff676d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* When BAR EXPANDS change icon color */
#check:checked ~ .serch-box .icon {
    background: #fff;
    color: #ff676d;
}
