@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #EEECEB;
}
footer{
    position: fixed;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
    left: 0;
    top: 100px;

}
footer .content{

    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;


}
.content .top .logo-detail{
    color: #fff;
    font-size: 30px;


}
.content .top .media-icons{
    display: flex;

}
.content .top .media-icons a{
    height: 40px;
    width: 40px;

    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;

}
.top .media-icons a:nth-child(1){
    background: #4267B2;

}
.top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;

}
.top .media-icons a:nth-child(2){
    background: #1DA1F2;

}
.top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;

}
.top .media-icons a:nth-child(3){
    background: #E1306C;

}
.top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;

}
.top .media-icons a:nth-child(4){
    background: #0077B5;

}
.top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;

}
.top .media-icons a:nth-child(5){
    background: #FF0000;

}
.top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;

}
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;


}
footer .content .link-boxes .box{

    width: calc(100% /5 -10px);
}
.content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background: #fff;
    left: 0;
    bottom: -2px;


}
.content .link-boxes .box li{
    list-style: none;
    margin:  6px 0;



}
.content .link-boxes .box li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease;

}
.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration:underline;

}
.content .link-boxes  .input-box{
    margin-right: 55px;

}
.link-boxes  .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    margin-top: 5px;


}
.link-boxes  .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;

}
.link-boxes  .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 0.3s ease;
    cursor: pointer;

}
.input-box input[type="button"]:hover{
    opacity: 1;

}
footer .bottom-details{
    width: 100%;
    background: #0f0844;

}
footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px ;
    display: flex;
    justify-content: space-between;

}
.bottom-details .bottom_text a,
.bottom-details .bottom_text span{
    font-size: 14px;
    font-weight:300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;

}
.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.bottom-details .bottom_text a{
    margin-right: 10px;

}


/* ---------------------- */
/*  RESPONSIVE DESIGN     */
/* ---------------------- */


/* Extra large devices (desktops <1200px) */
@media (max-width: 1200px) {
    footer .content .link-boxes .box {
        width: calc(100% / 4 - 10px);
    }
}

/* Large devices (<992px) */
@media (max-width: 992px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
        margin-bottom: 30px;
    }
    .content .top {
        flex-direction: column;
        gap: 15px;
    }
}

/* Tablets (<768px) */
@media (max-width: 768px) {
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    .content .top .logo-detail {
        font-size: 24px;
    }
}

/* Mobile (<600px) */
@media (max-width: 600px) {
    footer {
        position: relative;
    }
    footer::before {
        top: 80px;
    }
    footer .content {
        padding: 20px;
    }
    footer .content .link-boxes .box {
        width: 100%;
    }
    .content .top {
        flex-direction: column;
        text-align: center;
    }
    .content .top .media-icons {
        justify-content: center;
    }
}

/* Small phones (<480px) */
@media (max-width: 480px) {
    .content .top .logo-detail {
        font-size: 20px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 15px;
    }
    .bottom-details .bottom_text {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}