@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
}
.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);


}
.wrapper .title{
    font-size:35px ;
    font-weight: 600;
    text-align: center;
    border-radius:15px 15px 0px 0px;
    line-height: 100px;
    background: linear-gradient(-135deg, #c850c0,#4158d0);
    color: #fff;

}

.wrapper form{
    padding: 10px 30px 50px 30px;
   


}
.wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.wrapper form .field input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    outline: none;
    transition: all 0.3s ease;
    font-size: 17px;

}
.wrapper form .field input:focus,
.wrapper form .field input:valid {
    border-color: #4158d0;

}
.wrapper form .field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    pointer-events: none;
    font-size: 18px;
    transition: all 0.4s ease;
    color: #999;

}
.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label{
    top: 0%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4158d0;
    background-color: #fff


}
.wrapper form .signup-link,
.wrapper form .pass-link{
    color: #4158d0;
    margin-left: 10px 0px 0 10px;

}
.wrapper form .signup-link{

    text-align: center;
    margin-top: 20px;
    color:#262626
}
.wrapper form .field input[type="submit"]{
    color: #fff;
    background: linear-gradient(-135deg, #c850c0,#4158d0);
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding-left: 0;
    cursor: pointer;
    transition: all 0.3s ease;

}
.wrapper form .field input[type="submit"]:active{
    transform: scale(0.95);

}
.wrapper form .signup-link a{
    color: #262626;

}

.wrapper form .signup-link a,
.wrapper form .pass-link a{
    color: #4158d0;
    text-decoration: none;

}
.wrapper form .signup-link a,
.wrapper form .pass-link a:hover{
    text-decoration: underline;
}