@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.show_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 55px;
    background: #2980b9;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.show_button:hover{
    background: #2573a7;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0 ,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}
#check:checked ~ .background{
    opacity: 1;
    pointer-events: auto;




}
.alert_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    width: 100%;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    z-index: 5;
    opacity: 0;
    transform: translate(-50% , -50%) scale(0.97) ;
    pointer-events: none;
    transition: all 0.3s ease;

}
#check{
    display: none;

}
#check:checked  ~ .alert_box{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% , -50%) scale(1) ;


}

.alert_box .icon{
    height: 100px;
    width: 100px;
    color: #f23b26;
    border: 3px solid #f23b26;
    border-radius: 50%;
    line-height: 97px;
    font-size: 50px;





}
.alert_box .header{
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;

}
.alert_box  p{
    font-size: 20px;

}
.alert_box .btns{
    margin-top: 20px;

}
.alert_box label{
    display: inline-flex;

    height: 55px;
    padding: 0px 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.3s ease;


}
.btns label:first-child{
    background: #2980b9;
}
.btns label:first-child:hover{
    background: #2573a7;
}
.btns label:last-child{
    background: #f23b26;
}
.btns label:last-child:hover{
    background: #d9210d;
}