@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #be2edd;

}
.main-div{
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.main-div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;


}
.main-div .social_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.social_icons a{
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: ALL 0.3s linear;


}
.social_icons span{
    margin-left:5px ;
    font-size: 18px;

}
.social_icons a:first-child{
    margin-right: 5px;
    background: #4267b2;
    ;
}
.social_icons a:first-child:hover{
    background: #365899;
}
.social_icons a:last-child{
    margin-right: 5px;
    background: #1da1f2;
    ;
}
.social_icons a:last-child:hover{
    background: #0d95e8;
}

form{
    margin-top: 25px;

}

form .inpu_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;



}
.inpu_box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 45px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: ALL 0.3s ease;




}
.inpu_box input:focus{
    border-color: #be2edd;
    box-shadow: 0 0 5px #be2edd;
}
.inpu_box  .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    color: grey;
    transform: translateY(-50%);

}

form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;


}
.option_div .check_box{
    display: flex;
    align-items: center;

}

.option_div  span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;

}
.option_div .forget_div a{
    font-size: 16px;
    color: #be2edd;
    text-decoration: none;

}
.option_div .forget_div a:hover{
    text-decoration: underline;
}
.btn input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding-left: 0;
    background: #be2edd;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.btn input:hover{
    background: #a01adf;
}
form .sign_up{
    text-align: center;
    margin-top: 25px;

}
.sign_up a{
    color: #be2edd;
    text-decoration: none;
}
.sign_up a:hover{
    text-decoration: underline;
}



